# Ignore Android Studio/IntelliJ IDE files
.idea/
*.iml

# Ignore Gradle files
.gradle/
local.properties
apikeys.properties

# Ignore build output
/build/
*/build/

# Ignore log and cache files
*.log
captures/

# Ignore generated assets
app/release/
app/debug/
